body {
    font-family: sans-serif;
}

button {
    background-color: rgb(215, 207, 200);
    border-width: 0px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
    cursor: pointer;
}

canvas {
    border-radius: 15px;
}

label {
    color: lightgray;
}

.block {
    background-color: rgb(235, 233, 211);
    margin: 10px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: fit-content;
    border-radius: 8px;
}
